/* Mobilni stilovi */
body {
    padding: 1%;
    font-size: 1rem;
    line-height: 1.5;
}

p {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1%;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.8rem;
}

th,
td {
    text-align: left;
    padding: 0.4rem;
}

th {
    background-color: #af4c8e;
}

tr:hover {
    background-color: #af4caf38;
}

td:first-child {
    font-weight: bold;
}


/* Tablet i veći stilovi */
@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }

    p {
        font-size: 24px;
        margin-bottom: 20px;
    }

    table {
        font-size: 16px;
    }
    
    pagination-controls {
        text-align: center;
    }
}